body {
    background: linear-gradient(#FF6767, #FF4A4A, #C50D0D);
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
}
    
.Banner {
    padding: 10px;
    height: 100px;
    background: #6E0000;
    color: #FFFFFF;
    text-align: center;
    margin: -8px;
}

.fontsize {
    font-size: 27px;
}

.Profile_img {
    height: 75px;
    width: 75px;
    background: #FFFFFF;
}

.Links{
    font-size: 20px;
    text-align: center; 
}

.plinks {
    display: inline-block
}

p {
    font-size: 20px;
}

.button {
    text-align: center;
    font-size: 30px;
}
    
.linktext {
    font-size: 35px;
}

.hlinks  {
    color: #FF6767;
    font-size: 30px;
    position: relative;
    bottom: 10px;
}

.hlinks a {
    color: #FF6767;
}

.profilepic {
    position: absolute;
    transform: translate(75%, -75%)
}
    
.desc {
    font-size: 30px;
}
 
.ptitle {
    font-size: 25px
}

.login_container{
    background: #C50D0D;
    height: auto;
    width: 500px;
    padding: 5px;
    margin: 150px auto;
    color: #ffffff;
    text-align: center;
}

.login_header{
    background: #600000;
    width: auto;
    height: 50px;
    margin: -5px;
}

.login_header h2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
}

.login_label{
    font-size: 26px;
}

.login_textbox{
    width: 50%;
    height: 25px;
    font-size: 20px;
    margin: 10px;
    background: #FF6767;
    border: 0;
}

.login_button{
    width: 40%;
    height: 25px;
    margin: 6px;
    font-size: 18px;
    border-radius: 50%;
    color: #FF4A4A;
}

.message{
    width: 100%;
    background: green;
    font-size: 20px;
    text-align: center;
    display: inline-block;
}

.profile_container{
    background: #C50D0D;
    height: auto;
    width: 500px;
    padding: 10px;
    margin: 50px auto;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}

.profile_header{
    background: #600000;
    width: auto;
    height: 50px;
    margin: -10px;
}
.profile_header h2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    padding: 15px;
    
}

.profile_label{
    font-size: 24px;
}

.profile_textbox{
    width: 50%;
    height: 25px;
    font-size: 24px;
    margin: 10px;
    background: #FF6767;
    border: 0;
}
.rprofile_container{
    background: #C50D0D;
    height: auto;
    width: 500px;
    padding: 10px;
    margin: 50px auto;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}

.rprofile_header{
    background: #600000;
    width: auto;
    height: 50px;
    margin: -10px;
}
.rprofile_header h2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    padding: 15px;
}

.reg_container{
    background: #C50D0D;
    height: auto;
    width: 500px;
    padding: 5px;
    margin: 150px auto;
    color: #ffffff;
    text-align: center;
}

.reg_header{
    background: #600000;
    width: auto;
    height: 50px;
    margin: -5px;
}

.reg_header h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
}

.reg_label{
    font-size: 26px;
}

.reg_textbox{
    width: 80%;
    height: 25px;
    font-size: 20px;
    margin: 10px;
    background: #FF6767;
    border: 0;
}

.reg_button{
    width: 80%;
    height: 25px;
    margin: 6px;
    font-size: 18px;
    border-radius: 0%;
    color: #FF4A4A;
}

.pUpload{
    width: 500px;
    margin: 50px auto;
    text-align: center;
    font-size: 20px;
}

.matches_h{
    background: #600000;
    text-align: center;
    line-height: 1;
}

.matches_h2{
    background: #600000;
    text-align: center;
    line-height: 1;
}

.matches_input_container{
    background: #C50D0D;
    color: #ffffff;
    width: 600px;
    margin: auto;
    line-height: 2;
}

.matches_text{
    padding-left: 5px;
    padding-right: 5px;
}

.matches_container{
    background: #C50D0D;
    color: #ffffff;
    width: 600px;
    margin: auto;
}

.matches_header{
    background: #600000;
}
.matches_img{
    float: left;
}
.matches_body{
    display: inline-block;
    margin-left: 5px;
}
