html(lang="en")
head
  title Dating App Registration
body
  form(action='/login' method='post')
    h1 Please fill in your login information
    if msg
      h2 #{msg}
    |     Enter your username 
    input(type="text" id="uName" name="uName" value= '' + entry.uName)
    br
    br
    |     Enter your password 
    input(type="password" id="pWord" name="pWord" value= '' + entry.pWord)
    br
    br
    input(type='submit' value='Login' method='post')
  br
  a(href='/') Home Page
  br
  a(href='/register') Register here
