extends main_layout
block head
  title Login
block content
  .login_container
    .login_header
      h2 Login
    form(action='/login' method='post')
      if msg
        h3.message #{msg}
        br
      label.login_label(for='uName') Enter your username
      br
      input.login_textbox(type="text" id="uName" name="uName")
      br
      label.login_label(for='pWord') Enter your password 
      br
      input.login_textbox(type="password" id="pWord" name="pWord")
      br
      input.login_button(type='submit' value='Login' method='post')
    form(action='/register' method='get')
      input.login_button(type='submit' value='Register' method='get')