doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Home Page
  meta(name='description' content='An interactive getting started guide for Brackets.')
  style
    include ./layout.css
  link(href='https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap' rel='stylesheet')
.Banner
  .img
  h1 Dating App
  span.hlinks
    a(href='/logout') Logout
    | &nbsp; 
    | &#10084;
    | &nbsp;  
    a(href='/search') Search
    | &nbsp; 
    | &#10084;
    | &nbsp; 
    a(href='/match') Match
    | &nbsp; 
    | &#10084;
    | &nbsp; 
    a(href='/chat') Chat
  a.profilepic(href='/profile')
    img(src='' + pfp alt='1' border='0' height='75' width='75')
block content
