doctype html
html(lang="en")
    head
        if result
            title="Registration success" 
        else
            title="Registration failure" 
    body
    if result
        h2 You successfully registered as #{username}
    else
        h2 Your registration failed. Try again.
    p You can go back to the home page now
    a(href="/") Home
            


