doctype html
html(lang="en")
    head
        title="Update Personal Profile"
    body
    h1 Update
    form(action="/updateP" method="post")
        |Name 
        input(type="text" name="name")
        br
        |Age
        input(type="text" name="age")
        br
        |Gender
        input(type="text" name="gender")
        br
        |Height
        input(type="text" name="height")
        br
        |Race
        input(type="text" name="race")
        br
        |Income
        input(type="text" name="income")
        br
        |Religion
        input(type="text" name="religion")
        input(type="submit")

        