doctype html
html(lang="en")
    head
        title="Update Account Settings"
    body
    h1 Update
    form(action="/updateU" method="post")
        |Username 
        input(type="text" name="uName")
        br
        |Password 
        input(type="text" name="pWord")
        br
        |city 
        input(type="text" name="city")
        br
        |state
        input(type="text" name="state")
        br
        |email
        input(type="text" name="eMail")
        input(type="submit")

        